/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-family: "Pacifico", cursive;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-style: normal;
    background-image: url("image2.jpg");
    background-color: #f0f0f0;
    display: flex;
}

nav {
    width: 180px;
    background-color: #00032c;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 5px;
    margin: 5px;
}

nav ul li {
    margin-bottom: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin-left: 220px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: calc(100% - 220px);
}

h1{
    font-family: "Roboto", sans-serif;
    color: #010827;
    width: 100px;
    height: 100px;
    
    position: relative;
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}

p {
    border: 2px solid rgb(8, 8, 8);
    background-color: rgb(85, 141, 245);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 8px 6px #808080;
}


img {
    max-width: 100%;
    height: auto;
    margin: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
